<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127402077581-1vseg29m3he1bbe7a4of2o5ctmti41do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127402077581-1vseg29m3he1bbe7a4of2o5ctmti41do</string>
	<key>API_KEY</key>
	<string>AIzaSyDEDRvAR6vtuGe1PWtEexLlsUvuFUk1xRU</string>
	<key>GCM_SENDER_ID</key>
	<string>127402077581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamFirefighter.Manito</string>
	<key>PROJECT_ID</key>
	<string>aenitto-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>aenitto-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:127402077581:ios:38169c06a3af4fc9ace1c4</string>
</dict>
</plist>
